{
	"layout": {
		"type": "grid",
		"rows": 5,
		"cols": 5,
		"space": "2mm",
		"rotation": "0deg",
		"alternation": "none",
		"renamenet": "Board_{n}-{orig}",
		"renameref": "{orig}"
	}, 
	"source": {
		"type": "auto",
		"tolerance": "1mm"
	},
	"tabs": {
		"type": "fixed",
		"width": "3mm",
		"vcount": 1,
		"hcount": 1,
		"mindistance": "10mm"
	},
	"cuts": {
		"type": "mousebites",
		"drill": "0.5mm",
		"spacing": "1mm",
		"offset": "0mm"
	},
	"framing": {
		"type": "frame",
		"thickness": "2mm",
		"cuts" : "both",
		"space": "2mm"
	},
	"text": {
		"text": "{boardTitle} | {boardDate}"
	},
	"post": {
		"type": "auto",
		"millradius": "1mm",
		"copperfill": false,
		"dimensions": true
	}
}
